.MainNotificationComponent{
    display: grid;
    grid-template-columns: auto ; 
    grid-gap: 10px; 
}

.TheNotification{
    margin-top: 85px;
    justify-self: center;
}
.mainNotificationPage{
    display:flex;
    flex-direction: row;
}
.parentNotify{
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 10%;
    float:left;
    width:130%;
    margin-top: 100px;
}


.wrapper {
    display: flex;
    width: 85%;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    align-items: center;
    background-color: #c3a9e6;
}

.leftNotify{
    float:left;
    width:35%;
    margin-top: 5%;
    margin-left: 50px;
}


.UserImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.NotificationContent {
    flex: 1;
}

.Title {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.Time {
    font-size: 15px;
    color: #6e4a86;
}

.Description {
    margin: 0;
    font-size: 15px;
    margin-top: 5px;
}

.Icon {
    font-size: 40px;
    color: #5a0474;
}